@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "后台管理";
}
<div class="card">
    <div class="card-header">使用说明</div>
    <div class="card-body">内容</div>
    <div class="card-footer">版本号：V0.1_beta(2021-01-06)</div>
</div>