@model    EnterpriseMaterial.Dto.IdentityDTO.IdentityQutput
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-col-md8">
        <form class="layui-form layui-form-pane" lay-filter="form_add" @*action="/identrity/Update"*@>
            <input type="hidden" name="ID" value="@Model.ID" />
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="Name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="@Model.Name">
                </div>
                <label class="layui-form-label">角色描述</label>
                <div class="layui-input-inline">
                    <input type="text" name="Description" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="@Model.Description">
                </div>
            </div>
            <div class="layui-form-item" style="text-align:center">
                <button class="layui-btn" lay-submit=""  lay-filter="formDemo">确认修改</button>
                <button class="layui-btn"  id="formfanhui">返回</button>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
            var layedit = layui.layedit
            //自定义验证规则
            form.verify({
                maxlength: function (value) {
                    if (value.length >16) {
                        return '不能超过16个字符';
                    }
                }

            });
               //监听提交
            form.on('submit(formDemo)', function (data) {
                console.log(data.field);
                $.ajax({
                    url: '/identity/Update',
                    method: 'post',
                    data: data.field,
                    success: function (data) {

                        if (data == "ok") {
                            layer.alert("修改成功！");
                            setTimeout(function () {
                                window.parent.Cancel();
                            }, 2000);
                        } else {
                            layer.alert("修改失败");
                        }
                    }
                });
                return false;//防止页面跳转
            });
        });
        $('#formfanhui').click(function () {
            window.parent.Cancel();
        })
    </script>
</body>
</html>
