
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>分类管理</h1>
<div id="test12" class="demo-tree demo-tree-box" style="width: 350px; height: 500px; overflow: scroll;"></div>
@section scripts
{
    <script>   
        var Shutdown, tree, layer01, util;
        var data = [];
        $(document).ready(function () {
            Tree();
        });  
        //加载Tree
        function Tree() {
            layui.use(['tree', 'util'], function () {
                tree = layui.tree;
                layer01 = layui.layer;
                util = layui.util;
                //基本演示
                tree.render({
                    elem: '#test12'
                    , data: getData()
                    , showCheckbox: false  //是否显示复选框
                    , id: 'demoId1 '
                });
                //开启节点操作图标
                tree.render({
                    elem: '#test12'
                    , data: data
                    , edit: ['add', 'update', 'del'] //操作节点的图
                    , operate: function (obj) {
                        var type = obj.type; //得到操作类型：add、edit、del
                        var data = obj.data; //得到当前节点的数据
                        var elem = obj.elem; //得到当前节点元素
                        //Ajax 操作
                        var id = data.id; //得到节点索引
                        if (type === 'add') { //增加节点
                            Shutdown = layer.open({
                                type: 2,
                                title: '添加页',
                                shadeClose: true,
                                shade: 0.45,
                                area: ['40%', '500px'],
                                content: '/Category/Add?id=' + id
                            });
                        } else if (type === 'update') { //修改节点                        
                            var name = elem.find('.layui-tree-txt').html();//拿到修改的值
                            $.post('/Category/Edit', { ID: id, Name: name }, function (res) {
                                if (res == "success") {
                                    layer.alert("修改成功！");
                                } else {
                                    layer.alert("修改失败！");
                                }
                                //overloading();
                            });
                        } else if (type === 'del') {
                            $.post('/Category/Delete', { id: id }, function (res) {
                                if (res == "success") {
                                    layer.alert("删除成功！");
                                } else {
                                    layer.alert("删除失败！");
                                };
                                //overloading();
                            })
                        };
                    }
                });

            });
        }
        //获取后台数据
        function getData() {
            $.ajax({
                url: '/Category/CategoryTree',
                type: "post",
                async: false,//重点
                success: function (resut) {
                    //debugger;
                    data = JSON.parse(resut);
                }
            });
            return data;
        }
        //重载
        function overloading() {
            Tree();          
        };
        //关闭页面弹窗页
        function Cancel() {
            layer.close(Shutdown);
            overloading();
        }     
    </script>
}
