@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <div class="layui-row layui-form">
            <div class="layui-col-md2 layui-col-md-offset5 " style="margin-top:20px;"><input type="text" id="txt_Select" placeholder="请输入部门名称" autocomplete="off" class="layui-input"></div>
            <div class="layui-col-md1" style="margin-top:20px;"> <button class="layui-btn layui-btn-normal" onclick="btn_search()">搜索</button></div>
        </div>

        <div class="layui-row">
            <table id="mytable" lay-filter="test"></table>
        </div>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">修改部门</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">添加部门</button>
                <button class="layui-btn layui-btn-sm" lay-event="Del">删除部门</button>
            </div>
        </script>
    </div>
@section scripts
{
    <script type="text/javascript">
        var table;
        var active;
        var url = "";
        var action, Deqid, Shutdown;

        layui.use('table', function () {
            table = layui.table;
            var form = layui.form;
            //第一个实例
            table.render({
                elem: '#mytable'
                , skin: 'line' //行边框风格
                , url: '/Department/GetJsonList' //数据接口
                , toolbar: '#toolbarDemo'
                , cellMinWidth: 70    //  自适应宽度，最短宽度80
                , page: true //开启分页
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 15 //每页默认显示的数量
                , defaultToolbar: ['filter', 'print', 'exports']//自由配置头部工具栏右侧的图标,导出乱码bug
                , cols: [[ //表头
                    { type: 'radio' }      
                    , { field: 'ID', title: '部门Id', sort: false }
                    , { field: 'DeqName', title: '部门名称', sort: false }
                    , { field: 'Uname', title: '主管名字', sort: false, }                  
                    , {
                        field: 'VipName', title: '上级部门', sort: false, templet(d) {
                            if (d.VipName == null) {
                                return "最高部门";
                            } else {
                                return d.VipName;
                            }
                        }
                    }
                    , { field: 'ShiJian', title: '添加时间', sort: false }
                ]],

            });

        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;              
            if (checkStatus.data.length == 1) {
                Deqid = data[0].ID;
                switch (obj.event) {
                    case 'getCheckData':
                        layer.alert("正在开发中！");
                        break;   
                    case 'getCheckLength':   
                      
                        Shutdown = layer.open({
                            type: 2,
                            title: '修改页',
                            shadeClose: true,
                            shade: 0.45,
                            area: ['55%', '75%'],
                            content: '/Department/DeqAdd?id=' + Deqid
                        });
                        break;                  
                    case 'Del':
                        layer.alert("正在开发中！");
                        break;
                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                };
            } else {
                layer.alert("必须选中且只能选中一条信息！");
            }
         
        });


        //查询
        btn_search = function () {
            layer.alert("此功能暂未开放");
            //var selectInfo = $("#txt_Select").val();
            //table.reload('mytable', {
            //    url: '/Department/GetJsonList',
            //    page: {
            //        curr: 1//从第一页开始
            //    },
            //    where: {
            //        selectInfo: selectInfo,
            //    } //设定异步数据接口的额外参数
            //});
        };

        //刷新页面
        function Therefresh() {
            table.reload('mytable', {
                url: '/Department/GetJsonList' 
            });
        }
        //关闭页面
        function Cancel() {
            layer.close(Shutdown);   
            Therefresh();
        }

    </script>

}

