
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layui-row layui-form">
    <div class="layui-col-md2 layui-col-md-offset5 " style="margin-top:20px;"><input type="text" id="goodsname" placeholder="请输入耗材名称" autocomplete="off" class="layui-input"></div>
    <div class="layui-col-md1" style="margin-top:20px;"> <button class="layui-btn layui-btn-normal" id="selectgoods" >搜索</button></div>
</div>
<table id="demo" class="layui-hide" style="width:500px" lay-filter="test"></table>


@section scripts
{
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" id="btn-daoru" lay-event="getCheckData"><i class="layui-icon  layui-icon-upload-circle "></i>Excel导入</button>
            <button type="button" class="layui-btn" id="isload" style="display:none">yes</button>
            <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">修改记录</button>
            <button class="layui-btn layui-btn-sm" lay-event="AddGoods">添加物品</button>
        </div>
    </script>
    <script>
        var Shutdown;
        var table;
        layui.use('table', function () {
             table = layui.table;
            //第一个实例
            table.render({
                elem: '#demo'
                , height: 315
             
                , url: '/Goods/GetListOne' //数据接口
                , toolbar: '#toolbarDemo'
                , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    , layEvent: 'LAYTABLE_TIPS'
                    , icon: 'layui-icon-tips'
                }]
               // , title: '用户数据表'
                , page: true //开启分页
                , cols: [[ //表头
                    { type: 'radio' }
                    , { field: 'ID', title: '编号', width: 80, sort: true}
                    , { field: 'Name', title: '用户名', width: 80 }
                    , { field: 'Money', title: '价格', width: 80 }
                    , { field: 'Number', title: '数量', width: 80 }
                    , { field: 'Unit', title: '单位', width: 80 }               
                    , { field: 'Status', title: '状态', width: 80 ,}
                ]]
                , page: true
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);          
                switch (obj.event) {
                    case 'getCheckData':                      
                        if ($('#isload').html() == 'yes') {
                            layui.use('upload', function () {
                                var $ = layui.jquery, upload = layui.upload;
                                upload.render({
                                    elem: '#btn-daoru'
                                    , url: '/Goods/ExcelAdd'
                                    , accept: 'file'//普通文件
                                    , exts: 'xlsx'//后缀
                                    , size: 2000000
                                    , done: function (res) {
                                        layui.alert(res);
                                        Therefresh();
                                    }
                                })
                            });
                            $('#isload').html("ok");
                        };
                      
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        //选择物品的id
                        var a = data[0].ID;
                        if (a <= 0) {
                            layui.alert("请选择一个物品");
                        }
                        Shutdown = layer.open({
                            type: 2,
                            title: '修改页',
                            shadeClose: true,
                            shade: 0.45,
                            area: ['55%', '75%'],
                            content: '/Goods/GetSelect?id=' + a
                        });
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;
                    case 'AddGoods':
                        Shutdown = layer.open({
                            type: 2,
                            title: '添加页',
                            shadeClose: true,
                            shade: 0.45,
                            area: ['55%', '90%'],
                            content: '/Goods/AddGoods'
                        });
                        break;
                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                };
            });          
       
            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    layer.prompt({
                        formType: 2
                        , value: data.email
                    }, function (value, index) {
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }
            });
            //查询
            $('#selectgoods').click(function () {
                var selectInfo = $('#goodsname').val();
                if (selectInfo.length > 0) {
                    table.reload('demo', {
                        url: '/Goods/SelectName',
                        page: {
                            curr: 1//从第一页开始
                        },
                        where: {
                            Name: selectInfo,
                        } //设定异步数据接口的额外参数
                    });
                } else {
                    Therefresh();
                }
         

            })
        
        });
        //刷新
        function Therefresh() {
            table.reload('demo', {
                url: '/Goods/GetListOne',
            });
        }
        //关闭页面
        function Cancel() {
            layer.close(Shutdown);
            Therefresh();
        }
        //Excel导入
        function btn_Excel() {
            if ($('#isload').html() == 'on') {
                layui.use('upload', function () {
                    var $ = layui.jquery, upload = layui.upload;
                    upload.render({
                        elem: '#btn-daoru'
                       , url: '/Goods/ExcelAdd'
                        , accept: 'file'//普通文件
                        ,  exts: 'xlsx'//后缀
                        , size: 20000
                        , done: function (res) {
                            layui.alert(res);
                            Therefresh();
                        }
                    })
                });
            }
        }

     
    </script>

}
