
@{
    ViewData["Title"] = "IndexThere";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <h1>IndexThere</h1>
    <hr />
    <div>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>

    @section scripts
{
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">申请管理</button>

            </div>
        </script>


        <script>
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#test'
                    , url: '/Borrow/GetListFour'
                    , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                    , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                        title: '提示'
                        , layEvent: 'LAYTABLE_TIPS'
                        , icon: 'layui-icon-tips'
                    }]
                    , title: '用户数据表'
                    , cols: [[
                        { type: 'radio', fixed: 'left' }
                        , { field: 'ID', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true }
                        , { field: 'GoodsName', title: '物品名称', width: 120, edit: 'text' }
                        , { field: 'Description', title: '申请理由', width: 120, edit: 'text', }
                        , { field: 'UserName', title: '申请人', width: 80, edit: 'text', sort: true }
                        , { field: 'Number', title: '数量', width: 100, sort: true }
                        , {
                            field: 'Complete', title: '是否需要归还', width: 80, templet: function (d) {
                                var divhtml;
                                if (d.Complete) { divhtml = "否" } else { divhtml = "是" }
                                return divhtml;
                            }}
                        , { field: 'StatusName', title: '流程状态', width: 100 }
                        , { field: 'Suggest', title: '审批意见', width: 120, edit: 'text', }
                        , { field: 'SendTime', title: '开始时间' }
                        , { field: 'MiddleTime', title: '中间时间', width: 80, sort: true }
                        , { field: 'EndTime', title: '结束时间', width: 120 }

                    ]]
                    , page: true
                });

                //头工具栏事件
                table.on('toolbar(test)', function (obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'getCheckData':
                            var data = checkStatus.data;
                            var a = data[0].ID;
                            Shutdown = layer.open({
                                type: 2,
                                title: '申请页',
                                shadeClose: true,
                                shade: 0.8,
                                area: ['500px', '90%'],
                                content: '/borrow/Apply?id=' + a,
                            });
                    };
                });

                //监听行工具事件

                table.on('tool(test)', function (obj) {
                    var data = obj.data;
                    //console.log(obj)
                    if (obj.event === 'del') {
                        layer.confirm('真的删除行么', function (index) {
                            obj.del();
                            layer.close(index);
                        });
                    } else if (obj.event === 'edit') {
                        layer.prompt({
                            formType: 2
                            , value: data.email
                        }, function (value, index) {
                            obj.update({
                                email: value
                            });
                            layer.close(index);
                        });
                    }
                });
            });
        </script>
    }
</body>